@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  @apply font-neueHaasUnica text-base text-black leading-none;
}

@keyframes shine {
  0%,
  to {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

a {
  @apply cursor-pointer;
}

@media (hover: hover) and (pointer: fine) {
  a:hover,
  .shine:hover {
    -webkit-animation: shine 0.3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    animation: shine 0.3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}
