@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base */

::-webkit-scrollbar {
  position: relative;

  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-track {
  background-color: theme("colors.blue");

  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

*,
:after,
:before {
  box-sizing: border-box;
  border: 0 solid;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
}

body {
  width: 100%;
  min-height: 100%;
  overscroll-behavior: none;
  overflow-y: scroll;
  @apply font-neueHaasUnica text-base text-black leading-none;
}

a {
  @apply inline-flex text-blue underline pb-[2px] hover:bg-blue hover:text-white hover:animate-blink;
}
